doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login Page
    link(rel='stylesheet', href='/styles/login.css')

    
  
  body
    div(class="login-box")
      h2 Login
      form(action="/login", method="POST")
        label(for="email") Email
        input(type="text", id="email", name="email", required)
        label(for="password") Password
        input(type="password", id="password", name="password", required)
        if message
          p(style="color: red") #{message}
        button(type="submit") Login
      p Don't have an account? 
        a(href="/register") Register here.


