doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register Page
    link(rel='stylesheet', href='/styles/register.css')

    
      

  body
    div(class="register-box")
      h2 Register
      form(action="/register", method="POST")
        label(for="name") Name
        input(type="text", id="name", name="name", required)
        label(for="email") Email
        input(type="email", id="email", name="email", required)
        label(for="password") Password
        input(type="password", id="password", name="password", required)
        label(for="confirm-password") Confirm Password
        input(type="password", id="confirm-password", name="confirm-password", required)
        if message
          p(style="color: red") #{message}
        button(type="submit") Register
      p Already have an account? <a href="/login">Login here</a>
